body{
	padding-left:30px;
	padding-right:30px;
}
#header{
	background-color:red;
	float:left;
	width:100%;
}
#text .caption {
	background-color:yellow;
	display:inline;
	float :left;
}
ul,ol{
   list-style:none;
   padding-top:0px;
}
#Personal,#education,#projects,#skills,#awards,#footer{
	background-color:#ccc;
}
.key{
	text-align:justify;
	font-weight:bold;
	display:block;
	width:100px;
	background-color:#333;
	color:#fed;
	margin-right:20px;
	padding:3px;

}
.clear {
   display:block;
   clear:both;
}

.value {
   display:block;
   padding:3px;
}
li {
	border-bottom:1px solid #999;
	display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
}
h2, h3{
	background-color:green;
    color:white;
    margin-top:0px;
    margin-bottom:0px;
    border-top:0px
}
.image{
	float:left;
}
